# Hidden files
.idea
.DS_Store

# Build files and dependencies
dist
node_modules
src/cli/generatedDocs.json

# Draft docs
docs/exclude

# Coverage reports
coverage
.stryker-tmp
reports
.srclight/

# Development
.raili
.issues