---
pagination:
  data: collections.usage
  size: 1
  alias: doc
permalink: /usage/{{ doc.slug }}/
layout: layout.njk
eleventyComputed:
  title: "{{ doc.title }}"
---

{{ doc.content | renderMarkdown | safe }}

